# Setup

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import date, datetime
from sklearn import model_selection, metrics  #to include metrics for evaluation 
from sklearn.model_selection import train_test_split
%matplotlib inline

# Fed funds rate data: add a column denoting rate changed or not from previous month

In [11]:
ffr_df = pd.read_csv('fedfundsrates/fed_funds_target_rates_Dec2018_Sep1982.csv')

In [12]:
# Check if it renders correctly
ffr_df.head()

      DATE  DFEDTAR_20081215
0  9/27/82             10.25
1  9/28/82             10.25
2  9/29/82             10.25
3  9/30/82             10.25
4  10/1/82             10.00

In [13]:
# Info about the data
ffr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9587 entries, 0 to 9586
Data columns (total 2 columns):
DATE                9587 non-null object
DFEDTAR_20081215    9587 non-null float64
dtypes: float64(1), object(1)
memory usage: 149.9+ KB

In [14]:
# Add a new column that denotes how much the rate changed from the previous month
ffr_df = pd.read_csv('fedfundsrates/fed_funds_target_rates_Dec2018_Sep1982.csv')
df = pd.DataFrame(ffr_df)
df['Diff'] = df['DFEDTAR_20081215'].diff(1)
print(df)

          DATE  DFEDTAR_20081215    Diff
0      9/27/82           10.2500     NaN
1      9/28/82           10.2500  0.0000
2      9/29/82           10.2500  0.0000
3      9/30/82           10.2500  0.0000
4      10/1/82           10.0000 -0.2500
5      10/2/82           10.0000  0.0000
6      10/3/82           10.0000  0.0000
7      10/4/82           10.0000  0.0000
8      10/5/82           10.0000  0.0000
9      10/6/82           10.0000  0.0000
10     10/7/82            9.5000 -0.5000
11     10/8/82            9.5000  0.0000
12     10/9/82            9.5000  0.0000
13    10/10/82            9.5000  0.0000
14    10/11/82            9.5000  0.0000
15    10/12/82            9.5000  0.0000
16    10/13/82            9.5000  0.0000
17    10/14/82            9.5000  0.0000
18    10/15/82            9.5000  0.0000
19    10/16/82            9.5000  0.0000
20    10/17/82            9.5000  0.0000
21    10/18/82            9.5000  0.0000
22    10/19/82            9.5000  0.0000
23    10/20/82            9.5000  0.0000
24    10/21/82            9.5000  0.0000
25    10/22/82            9.5000  0.0000
26    10/23/82            9.5000  0.0000
27    10/24/82            9.5000  0.0000
28    10/25/82            9.5000  0.0000
29    10/26/82            9.5000  0.0000
...        ...               ...     ...
9557  11/26/08            1.0000  0.0000
9558  11/27/08            1.0000  0.0000
9559  11/28/08            1.0000  0.0000
9560  11/29/08            1.0000  0.0000
9561  11/30/08            1.0000  0.0000
9562   12/1/08            1.0000  0.0000
9563   12/2/08            1.0000  0.0000
9564   12/3/08            1.0000  0.0000
9565   12/4/08            1.0000  0.0000
9566   12/5/08            1.0000  0.0000
9567   12/6/08            1.0000  0.0000
9568   12/7/08            1.0000  0.0000
9569   12/8/08            1.0000  0.0000
9570   12/9/08            1.0000  0.0000
9571  12/10/08            1.0000  0.0000
9572  12/11/08            1.0000  0.0000
9573  12/12/08            1.0000  0.0000
9574  12/13/08            1.0000  0.0000
9575  12/14/08            1.0000  0.0000
9576  12/15/08            1.0000  0.0000
9577  12/16/08            0.0125 -0.9875
9578  12/17/15            0.3750  0.3625
9579  12/15/16            0.6250  0.2500
9580   3/16/17            0.9750  0.3500
9581   6/15/17            1.1250  0.1500
9582  12/14/17            1.3750  0.2500
9583   3/22/18            1.6250  0.2500
9584   6/14/18            1.8750  0.2500
9585   9/27/18            2.1250  0.2500
9586  12/20/18            2.3750  0.2500

[9587 rows x 3 columns]

In [15]:
# Add a new column to denote if a rate
# changed based on the previous month
# 1 is changed; 0 is did not change
df['Changed'] = np.where(df['Diff']!=0.0000, 1, 0)
print(df)

          DATE  DFEDTAR_20081215    Diff  Changed
0      9/27/82           10.2500     NaN        1
1      9/28/82           10.2500  0.0000        0
2      9/29/82           10.2500  0.0000        0
3      9/30/82           10.2500  0.0000        0
4      10/1/82           10.0000 -0.2500        1
5      10/2/82           10.0000  0.0000        0
6      10/3/82           10.0000  0.0000        0
7      10/4/82           10.0000  0.0000        0
8      10/5/82           10.0000  0.0000        0
9      10/6/82           10.0000  0.0000        0
10     10/7/82            9.5000 -0.5000        1
11     10/8/82            9.5000  0.0000        0
12     10/9/82            9.5000  0.0000        0
13    10/10/82            9.5000  0.0000        0
14    10/11/82            9.5000  0.0000        0
15    10/12/82            9.5000  0.0000        0
16    10/13/82            9.5000  0.0000        0
17    10/14/82            9.5000  0.0000        0
18    10/15/82            9.5000  0.0000        0
19    10/16/82            9.5000  0.0000        0
20    10/17/82            9.5000  0.0000        0
21    10/18/82            9.5000  0.0000        0
22    10/19/82            9.5000  0.0000        0
23    10/20/82            9.5000  0.0000        0
24    10/21/82            9.5000  0.0000        0
25    10/22/82            9.5000  0.0000        0
26    10/23/82            9.5000  0.0000        0
27    10/24/82            9.5000  0.0000        0
28    10/25/82            9.5000  0.0000        0
29    10/26/82            9.5000  0.0000        0
...        ...               ...     ...      ...
9557  11/26/08            1.0000  0.0000        0
9558  11/27/08            1.0000  0.0000        0
9559  11/28/08            1.0000  0.0000        0
9560  11/29/08            1.0000  0.0000        0
9561  11/30/08            1.0000  0.0000        0
9562   12/1/08            1.0000  0.0000        0
9563   12/2/08            1.0000  0.0000        0
9564   12/3/08            1.0000  0.0000        0
9565   12/4/08            1.0000  0.0000        0
9566   12/5/08            1.0000  0.0000        0
9567   12/6/08            1.0000  0.0000        0
9568   12/7/08            1.0000  0.0000        0
9569   12/8/08            1.0000  0.0000        0
9570   12/9/08            1.0000  0.0000        0
9571  12/10/08            1.0000  0.0000        0
9572  12/11/08            1.0000  0.0000        0
9573  12/12/08            1.0000  0.0000        0
9574  12/13/08            1.0000  0.0000        0
9575  12/14/08            1.0000  0.0000        0
9576  12/15/08            1.0000  0.0000        0
9577  12/16/08            0.0125 -0.9875        1
9578  12/17/15            0.3750  0.3625        1
9579  12/15/16            0.6250  0.2500        1
9580   3/16/17            0.9750  0.3500        1
9581   6/15/17            1.1250  0.1500        1
9582  12/14/17            1.3750  0.2500        1
9583   3/22/18            1.6250  0.2500        1
9584   6/14/18            1.8750  0.2500        1
9585   9/27/18            2.1250  0.2500        1
9586  12/20/18            2.3750  0.2500        1

[9587 rows x 4 columns]

In [17]:
# Modify date string to a timestamp in format %Y%m%d

# First remove the / then modify to date format %Y%m%d, this part works
df['DATE'] = df['DATE'].replace('/', '', regex=True)

# Then put into date format m d Y
df.DATE = pd.to_datetime(df.DATE, format='%m%d%y')
df.head()

        DATE  DFEDTAR_20081215  Diff  Changed
0 1982-09-27             10.25   NaN        1
1 1982-09-28             10.25  0.00        0
2 1982-09-29             10.25  0.00        0
3 1982-09-30             10.25  0.00        0
4 1982-10-01             10.00 -0.25        1

# Text data: Create a dataframe that includes the cleaned text doc content and adds a column for the date of the document taken from the file name

In [ ]:
# Get a list of filenames from the local cleaned statements directory using glob library 
import glob
filenames = glob.glob('statements/statements.clean/*.txt')

# Initialize an empty list
# Then loop through the file list, and create a dictionary with the file dates and content
records = []
for filename in filenames:   
    data = open(filename).read()
    date = filename.split('/')[-1].split('.')[-2]
    record = {'filedate':date,'document':data}
    records.append(record)

In [ ]:
docdf = pd.DataFrame(records)
docdf.head()

In [ ]:
# Modify filedate string to a timestamp
docdf.filedate = pd.to_datetime(docdf.filedate, format='%Y%m%d')
docdf.head()

In [ ]:
# This section is under construction ...
# Create a new column indicating if a rate changed within x days (7?) after document published
# To do this, for each row in df subtracts the dates, gets the minimum difference row for 
# rate_change df and gets the corresponding date and rate change and adds those as fields

# Define a function with filedate as the parameter that figures out if the rate changed w/in 7 days after doc date 

def did_rate_change(filedate):
# for docdf is there a rate change date w/in 7 days
# 
    if filedate in document: # xxxx Need a calc here to see if date of date df is within 7 days after date in content df
        return '1' 
    # look at the rate change column in date df and see if it changed (1)
    # if it changed put 1, if it did not change put 0
    else:
        return '0' # if it did not change put 0

# Apply the function to the content df
docdf['filedate'].apply(did_rate_change)